@charset "UTF-8";

body {
    padding: 0%;
    margin: 0%;

}

.corpo {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.corpo img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.corpoflex {
    position: absolute;
    top: 70px;
    width: 50%;
    height: 80%;
    backdrop-filter: blur(3px);
    background-color: rgba(2, 0, 0, 0.4);
    border-radius: 10px;
}


.corpoflex img {
    position: absolute;
    margin-top: -3%;
    margin-left: -50px;
    width: 800px;
    height: 560px;
    border-radius: 10px;
    background-size: cover;

}


.raioLuz {
    width: 10%;
    height: 30%;
    position: absolute;
    top: 9%;
    left: 55%;
    transform: translate(-50%, -50%);
}

.raioLuz::before {
    content: "";
    position: absolute;
    width: 40%;
    height: 45%;
    background-color: #f8f2f6;

    transform: perspective(3px) rotateX(16deg) scale(0.5, 0.300);
    filter: blur(3px);
    opacity: 0.9;

}

.formDiv {
    margin-top: 25px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
}

.titulo {
    color: rgb(253, 252, 253);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 2rem;

}



.subtitulo {
    color: rgb(253, 252, 253);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(250, 246, 246, 0.5);
    font-size: 2rem;
    margin-bottom: 30px;


}


.respUser {
    margin-top: 40px;
    margin: 50px;
    font-size: 1.3rem;
    border: 1px red;

}

.inputs label {
    display: block;
    color: rgb(245, 240, 240);
    font-size: 1.2rem;
    z-index: 2;

}

.inputs input[type="text"] {
    width: 100%;
    padding: 6px;
    border: 2px solid #6b6060;
    border-radius: 5px;
    font-family: Arial, sans-serif;

}




.btn {
    margin-top: 20px;
    margin-left: 33%;
    width: 14px;
    transform: translate(-50, -50);
    font-family: Arial, Helvetica, sans-serif;
    font-size: .8rem;
    text-transform: uppercase;
    color: #ffffff;
    background: rgb(9, 206, 2);
    background: -webkit-linear-gradient(to right, 206, 2, 2, #018d01);
    background: linear-gradient(to right, rgb(156, 3, 149), #f71717);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 3rem;
    padding-right: 6rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: color 1s;


}

.btn:hover {
    color: hsl(0, 60%, 2%);
    background: -webkit-linear-gradient(to right, 206, 2, 2, #6262f8);
    background: linear-gradient(to right, rgb(247, 70, 70), #6262f8);
    transition: color 1s
}


.formDiv::before {
    position: absolute;
    content: attr(data-text);
    color: rgb(250, 245, 245);
    font-size: 1.2rem;
    margin-left: 360px;
    margin-top: 20px;
    width: 140px;
    opacity: 0;
    transition: opacity 0.3s ease;

}

.formDiv:hover::before {
    opacity: 1;
}


.mensagem {
    top: 20px;
    position: absolute;
    text-align: center;
    color: rgb(250, 247, 247);
    z-index: 4;
    font-size: 2rem;
    border-bottom: 2px solid rgb(204, 9, 9);
    display: inline-block;
    padding-bottom: 2px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: none;

}

.mensagem::after {
    content: '|';
    color: rgb(250, 245, 245);
    animation: piscar .7s infinite;

}

@keyframes piscar {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}


.interrogacao {
    position: relative;
    color: #f8f2f6;
    font-size: 2rem;
    margin-left: 97%;

}

/*segundo html*/
.subTexto {
    position: absolute;
    margin-top: 22%;
    margin-left: 50%;
    background-color: #faf7f7;
    padding: 3px;
    width: 90%;
    height: 80%;
    transform: translate(-50%, -50%);

}

.respUser h1 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.respUser img {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body {
    background-color: black;
    margin: 0%;
    padding: 0%;
}


@media screen and (max-width: 600px) {

    body {
        background-color: black;
        width: 100vw;
        height: 100vh;
    }

    .corpo {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100vh;

    }

    .corpo img {

        background-position: center;
        background-repeat: no-repeat;
        width: 500px;
        height: 100%;
        margin: 0;
        padding: 0;


    }

    .corpoflex {
        top: 100px;
        height: 400px;
        width: 300px;
        backdrop-filter: blur(4px);
        background-color: rgba(2, 0, 0, 0.5);
        border-radius: 10px;
       
    }


    .corpoflex img {
        position: absolute;
        left: -20px;
        top: -20px;
        width: 350px;
        height: 450px;
        border-radius: 10px;
        align-items: center;
        background-size: cover;
    }

    .titulo {
        color: rgb(255, 251, 255);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
        font-size: 1.3rem;

    }



    .subtitulo {
        color: rgb(253, 252, 253);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: center;
        font-size: 1.3rem;
        margin-bottom: 30px;


    }


    .inputs label {
        display: block;
        color: rgb(245, 240, 240);
        font-size: 1rem;
        z-index: 2;

    }

    .inputs input[type="text"] {
        width: 100%;
        padding: 6px;
        border: 2px solid #6b6060;
        border-radius: 5px;
        font-family: Arial, sans-serif;
        margin-left: -7%;

    }




    .btn {
        margin-top: 20px;
        margin-left: 5px;

    }

    /*segundo html*/
    .subTexto {
        position: absolute;
        top: 35%;
        margin-left: 50%;
        background-color: #faf7f7;
        padding: 3px;
        width: 90%;
        height: 80%;
        transform: translate(-50%, -50%);

    }

    .respUser h1 {
        text-align: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    }

    .respUser img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
    }

    body {
        background-color: black;
        margin: 0%;
        padding: 0%;
    }


}