<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Download</title>
</head>

<body class="body">
    <div class="subTexto">

        <div class="respUser">
            <h1>Seu QRCode</h1>
            <img src="/static/qrcol_img.png"alt="QRCold">
       
            <h2 id="textoTitulo">Desejar baixar ou imprimir o QRCode</h2>
            <div id="btnDownload">Download</div>
            <div id="btnImprimir">Imprimir</div>
        </div>
    </div>
    <script src="/static/javascript/script.js"></script>
</body>

</html>