<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Resposta</title>
</head>

<body class="body">
    <div class="subTexto">

        <div class="respUser">
            <h1>Seu QRCold</h1>
            <img src="/static/qrcol_img.png"alt="QRCold">
            <!--<img src="{{ url_for('static', filename=resposta) }}" alt="QRCold">-->
        </div>
    </div>
</body>

</html>